# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
./src/index0.js
./src/index1.js

# Generated script files
*.sql
*.json

# Alternatively, if you want to ignore only specific files
# lenovo_laptops.sql
# lenovo-laptops.json
